#contact{
    background-image: url(../assets/graphic_contacto.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 30px;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
}

.contact-modal-container{
    background-color: #F2D2CC;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#inputs{
    width: 100%;
}

.inputs-container{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.inputs-container input{
    padding: 8px;
    width: 49%;
}

.send-button-container{
    display: flex;
    flex-direction: column;
}

.send-button-container > textarea, .send-button-container > button{
    margin-top: 15px;
    padding: 8px;
    font-weight: 700;
}

#contact-info{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.icon{
    font-size: 20px;
    padding: 15px;
}

.fa-instagram:before{
    color: #333;
}


@media only screen and (min-width: 700px) {
    #contact{
        margin-top: 100px;
    }
    .contact-modal-container{
        padding: 50px;
        display: flex;
        flex-direction: row !important;
        align-items: center;
    }
    #contact-info{
        padding-left: 30px;
        padding-top: 0px;
        display: flex;
        flex-direction: row;
    }
    .info-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Poppins', sans-serif;
        color: #333;
    }
}