html, body{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}  

main{
    margin: 0 auto;
    max-width: 1400px;
}

#hero{
    background-image: url(../assets/trama_1.svg);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: #FFFFFF;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-bar{
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2.7px;
    display: flex;
    vertical-align: center;
    align-items: center;
}

#menu-bar li{
    text-decoration: none;  
    display: inline;
    font-size: 20px;
    margin-left: 20px;
}

#menu-bar li:hover{
    cursor: pointer;
}