.overlay{
    background-color: rgba(255, 255, 255, 0.918);
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    transition: 0.5s;
}
#close-button{
    font-family: 'Poppins', sans-serif;
    color: black;
    border: none;
    background-color: transparent;
    font-size: 15px;
    top: 25px;
    right: 25px;
    position: absolute;
}

#modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img{
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -100px;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

#modal-renew{
    background-image: url(../assets/r-mob.png);
}
#modal-oda{
    background-image: url(../assets/mm-mob.png);
}
#modal-vl{
    background-image: url(../assets/vl-comp.png);
}
#modal-mau{
    background-image: url(../assets/m-mob.jpg);
}
#modal-grat{
    background-image: url(../assets/g3-mob.png);
}
#modal-ar{
    background-image: url(../assets/ar2-mob.jpg);
}
#modal-er{
    background-image: url(../assets/rev-mob.png);
}
#modal-maj{
    background-image: url(../assets/majasfb-mob.png);
}

.second-img{
    display:none;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.text{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
}

.intro{
    margin-top: 33px;
    font-size: 16px;
    font-weight: 600;
}


@media(min-width: 700px){
    #close-button{
        top: 40px;
        right: 45px;
        transition: all .2s ease-in-out;
        font-size: 20px;
    }
    #close-button:hover { 
        transform: scale(2.2); 
    }
    .portfolio-images-container{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
    }

    .modal-img{
        width: 80vw;
        height: 45vh;
        margin-left: 100px;
    }
    
    .text-container{
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .par{
        padding-right: 120px !important;
        font-size: 16px;
    }

    .intro{
        font-size: 20px !important;
        padding-right: 120px !important;
    }

    .second-img{
        display: block;
        background-position: center;
        background-size: cover;
        width: 35%;
        margin: 40px;
        height: 250px;
        float: left;
        margin-left: 100px;
    }
    
    #second-renew-img{
        background-image: url(../assets/r2-mob.png);
    }
    #second-oda-img{
        background-image: url(../assets/mm3-mob.png);
    }
    #second-vl-img{
        background-image: url(../assets/vl-mob.png);
    }
    #second-mau-img{
        background-image: url(../assets/m2-mob.png);
    }
    #second-grat-img{
        background-image: url(../assets/g-mob.png);
    }
    #second-ar-img{
        background-image: url(../assets/ar-mob.jpg);
    }
    #second-er-img{
        background-image: url(../assets/er-mob.jpg);
    }
    #second-maj-img{
        background-image: url(../assets/majasbook.jpg);
    }
}