#parallax2{
    background-color: #c3ccda;
    background-attachment: fixed;
    background-repeat: repeat;
}
#parallax2 h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    font-size: 40px;
    margin: 0;
    padding: 50px 50px;
}

#portfolio{
    background-image: url(../assets/trama_2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#portfolio img{
    width: 100%;
}

/*contenedor flex cada dos cards*/
.portfolio-images-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*imagen de fondo y margenes*/
#renew{
    background-image: url(../assets/r.png); 
}
#oda{
    background-image: url(../assets/mm2.png);   
}
#mau{
    background-image: url(../assets/vl.png);  
}
#m{
    background-image: url(../assets/m.png);
}
#gratitud{
    background-image: url(../assets/g2.png);
}
#a-r{
    background-image: url(../assets/ar2.png);
}
#e-r{
    background-image: url(../assets/rev.png);
}
#majas{
    background-image: url(../assets/majasbook.jpg);
}

.portfolio-images-container div{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}
.card:hover{
    opacity: 0.7;
}

.details-button{
    border: none;   
    width: 50%;
    height: 35px;
    background-color: #ffffff70;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5;
}
.details-button:hover{
    cursor: pointer;
    background-color: #ffffff;
}

/*hidden div*/
.hidden{
    display: none;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more-button{
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px;
    border: none;
    width: 156px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.see-more-button:hover{
    cursor: pointer
}

@media only screen and (min-width: 760px) {
    #parallax2 h1{
        margin: 0;
        font-size: 70px;
        padding: 150px 100px;
    }
    .portfolio-images-container{
        display: flex;
        flex-direction: row !important;
        justify-content: center;
    }
    .portfolio-images-container div{
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 450px;
    }
    #renew{
        margin-right: 15px;
    }
    #oda{
        margin-left: 15px;   
    }

    .marg-1{
        margin-right: 15px;
        margin-top: 20px;
    }
    .marg-2{
        margin-left: 15px;
        margin-top: 20px;
    }
}