
#hello{
    background-image: url(../assets/Trama0.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.title{
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0px;
    padding-top: 70px;
    z-index: 1;
    margin: 0;
}

.hello-content-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.hello-image{
    width: 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

.jae{
    display: none
}

#intro-paragraph{
    width: 80%;
    text-align: left;
    padding: 5px;
}

#intro-paragraph h2{
    font-family: 'Alegreya', serif;
    font-size: 22px;
    padding-left: 60px;
    margin: 0;
}

#intro-paragraph p{
    font-family: 'Alegreya', serif;
    font-size: 20px;
    padding-left: 60px;
}

@media only screen and (min-width: 760px) {
    #parallax1{
        background-image:url(../assets/mm-mob.png);
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        height: 80vh;
    }
    
    #parallax1 img{
        max-width: 1200px;
    }
    
    .title{
        font-size: 100px;
    }
    .hello-image{
        width: 50%;
        padding-right: 20px;
        justify-content: center;
    }
    #hello{
        background-image: url(../assets/Trama0.svg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 50%;
    }
    .jae{
        display: block; 
        max-width: 100%;
        z-index: 1;
    }    
    #intro-paragraph{
        width: 50% !important;
        box-sizing: border-box;
    }
    #intro-paragraph h2{
        margin-top: 30px;
        font-family: 'Alegreya', serif;
        font-size: 40px;
    }
    #intro-paragraph p{
        font-family: 'Alegreya', serif;
        font-size: 30px;
    }
}